<!-- property.html -->
{% extends "base.html" %}
{% set show_sidebar = false %}
{% block title %}Submit Property - My Application{% endblock %}

{% block navbar %}{% endblock %}  <!-- Override the navbar block to remove it -->

{% block content %}
<div class="container">
    <h1 class="mt-4">Submit Property Details</h1>
    <a href="{{ url_for('static', filename='pdfs/pipe_identification.pdf') }}" target="_blank" class="btn btn-secondary mt-3">Help Identify Your Pipes (PDF)</a>
    <form method="POST" enctype="multipart/form-data" class="mt-3">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.plumbing_install_date.label(class="form-label") }}
            {{ form.plumbing_install_date(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.water_softener_usage.label(class="form-label") }}
            {{ form.water_softener_usage(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.primary_plumbing_type.label(class="form-label") }}
            {{ form.primary_plumbing_type(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.primary_plumbing_photo.label(class="form-label") }}
            {{ form.primary_plumbing_photo(class="form-control-file") }}
        </div>
        <div class="form-group">
            {{ form.secondary_plumbing_type.label(class="form-label") }}
            {{ form.secondary_plumbing_type(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.secondary_plumbing_photo.label(class="form-label") }}
            {{ form.secondary_plumbing_photo(class="form-control-file") }}
        </div>
        <div class="form-group">
            {{ form.comments.label(class="form-label") }}
            {{ form.comments(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
